<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spectalist</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <section id="header">
    <a href="home.html"><img src="image/logo.png" class="logo" alt="" width="180" height="50"></a>
    <div>
        <ul id="navbar">
            <!-- <li><a class="active" href="home.html">Home</a></li> -->
            <li><a href="signin.html">Sign In</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
        </ul>
    </div>
</section>
  
  
  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to Spectalists</h1>
      <h3>Something Special for Your Eyes.</h3>
      </br>
      <a href="#" class="btn">Learn More</a>
    </div>
  </section>
  
  <section class="features">
  </br>
</br>
    <h2>Eyeglasses</h2>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/img1.png" alt="Image" class="image-zoom">
        </div>
        <h3>Highlight</h3>
      <p>&#8377;999</p>
    </div>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/2.png" alt="Image" class="image-zoom">
        </div>
      <h3>Urban Retro</h3>
      <p>&#8377;1200</p>
    </div>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/3.png" alt="Image" class="image-zoom">
        </div>
      <h3>Float Pop</h3>
      <p>&#8377;699</p>
    </div>
  </section>
  

  <section class="features">
    <h2>Sunglasses</h2>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/gog1.png" alt="Image" class="image-zoom">
        </div>
      <h3>Power</h3>
      <p>&#8377;899</p>
    </div>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/gog2.png" alt="Image" class="image-zoom">
        </div>
      <h3>Square Style</h3>
      <p>&#8377;899</p>
    </div>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/gog3.png" alt="Image" class="image-zoom">
        </div>
      <h3>Round</h3>
      <p>&#8377;1111</p>
    </div>
  </section>
  

  <section class="features">
    <h2>Our Product</h2>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/img4.png" alt="Image" class="image-zoom">
        </div>
      <h3>Hustler</h3>
      <p>&#8377;499</p>
    </div>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/img5.png" alt="Image" class="image-zoom">
        </div>
      <h3>Ojos</h3>
      <p>&#8377;699</p>
    </div>
    <div class="feature-item">
        <div class="feature-item-product">
            <img src="image/img6.png" alt="Image" class="image-zoom">
        </div>
      <h3>Readers</h3>
      <p>&#8377;899</p>
    </div>
  </section>
  

  <footer class="h-footer">
    <p>&copy; 2023 Spectacles and Goggles Store. All rights reserved.</p>
  </footer>
  
  <script src="script.js"></script>
</body>
</html>
